.bundle/
log/*.log
pkg/

# IDE files
.idea

# Temporary files
.DS_Store
*.swp
*~
*.directory

# dummmy app
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache