.bundle/
vendor/bundle
pkg/

# IDE files
.idea

# coverage reports
coverage

# documentation
rdoc
doc
.yardoc/

# Temporary files
.DS_Store
*.swp
*~
*.directory

# dummmy app
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/log/*.log*
test/dummy/tmp/
test/dummy/.sass-cache
test/dummy/test/fixtures/*.y*ml

rspec-persistance.txt

.rake_tasks

# jekyll
docs/_site
docs/.sass-cache
docs/.jekyll-metadata
