@font-face{
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Regular.eot");
  src: local("Fira Sans Regular"),
       url("../fonts/FiraSans-Regular.eot") format("embedded-opentype"),
       url("../fonts/FiraSans-Regular.woff") format("woff"),
       url("../fonts/FiraSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Italic.eot");
  src: local("Fira Sans Regular Italic"),
       url("../fonts/FiraSans-Italic.eot") format("embedded-opentype"),
       url("../fonts/FiraSans-Italic.woff") format("woff"),
       url("../fonts/FiraSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Bold.eot");
  src: local("Fira Sans Bold"),
       url("../fonts/FiraSans-Bold.eot") format("embedded-opentype"),
       url("../fonts/FiraSans-Bold.woff") format("woff"),
       url("../fonts/FiraSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-BoldItalic.eot");
  src: local("Fira Sans Bold Italic"),
       url("../fonts/FiraSans-BoldItalic.eot") format("embedded-opentype"),
       url("../fonts/FiraSans-BoldItalic.woff") format("woff"),
       url("../fonts/FiraSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face{
  font-family: "Fira Mono";
  src: url("../fonts/FiraMono-Regular.eot");
  src: local("Fira Mono"),
       url("../fonts/FiraMono-Regular.eot") format("embedded-opentype"),
       url("../fonts/FiraMono-Regular.woff") format("woff"),
       url("../fonts/FiraMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "Fira Mono";
  src: url("../fonts/FiraMono-Bold.eot");
  src: local("Fira Mono Bold"),
       url("../fonts/FiraMono-Bold.eot") format("embedded-opentype"),
       url("../fonts/FiraMono-Bold.woff") format("woff"),
       url("../fonts/FiraMono-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
